.login-container {
  background-image: url(../pictures/welcomeFond.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 15% 20% 10% 5%;
  
  
  .login-logo{
    justify-self: center;
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .login-field-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.5em;
    color:white;

    
    ::placeholder {
      color:white;
      font-size: 1em;
    }
    .username-field{
      background-color: rgba(224, 224, 224, 0.363);
      width: 60%;
      padding: 10px 5%;
      margin: 5px 0;
      border: 1px solid grey;
      border-radius: 5px;
     
      
    }
  
    .password-field{
      background-color: rgba(224, 224, 224, 0.363);
      width: 60%;
      padding: 10px 5%;
      margin: 5px 0;
      border: 1px solid grey;
      border-radius: 5px;
     
      
    }



  }
  .login-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    background-color: rgb(60,90,153);
    width: 70%;
    padding: 5px 0;
    border-radius: 5px;
    color: white;
  }

}

