.login-container {
  background-image: url(../pictures/welcomeFond.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 15% 20% 10% 5%;
  
  
  .login-logo {
    justify-self: center;
    width: 200px;
    margin-top:5vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .login-field-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.5em;
    color:white;

    p {
      margin:0px;
      font-size:0.4em;
    }

    input::placeholder {
      color:black;
      font-size: 1em;
      opacity: 1;
    }

    .username-field{
      background-color: rgba(224, 224, 224, 0.363);
      width: 60%;
      padding: 10px 5%;
      margin: 5px 0;
      border: 1px solid grey;
      border-radius: 5px;
      color:black;
    }
  
    .password-field{
      background-color: rgba(224, 224, 224, 0.363);
      width: 60%;
      padding: 10px 5%;
      margin: 5px 0;
      border: 1px solid grey;
      border-radius: 5px;
      color:black;     
    }
  }
  .login-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color:#3B5998;
    width: 70%;
    padding: 5px 0;
    border-radius: 5px;
    color: white;
  }

  .welcome-signin{
    color:white;
  }
}

