
.main-screen{
  font-family: 'Raleway', sans-serif;
  // height: 100vh;
  padding: 0;
  margin: 0;
  
  .app-container {
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (min-width: 600px) {
  .main-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./pictures/nuages.jpg');
    .app-container {
      width: 30vw;
      height: 50vw;
      min-width: 400px;
      min-height: 700px;
      border: 12px solid black;
      border-bottom: none;
      // border-radius: 15px;

    }
  }
}