.challengeChoice-container{
  background-image: url(../pictures/welcomeFond.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 50% 15% 15%;
  
}