.challenge-container {
  width: 100%;
  div {
    ul {

      display: flex;
      padding: 0;
      justify-content: center;
    }
  }


a {
  // text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
}
ul {
  padding: 0;
}
}