.dash-container {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 10% 10% 25% 5%;
  background-color: white;
  .dash-character {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 60%;
    height: auto;
    padding-bottom: 20px;
    align-self: flex-end;
  }
  .dash-username {
    margin: 0;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .dash-userScore {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    li {
      width: 30%;
      text-align: center;
    
    }
    .dash-userScoreCenter{
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }
  .dash-challengesContainer {
    justify-self: flex-start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
  }

}