.intro-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(76, 247, 85), rgb(26, 26, 224));  .introCharacter {
    width: 200px;
  }
  .introCharacter {

  }
  .intro-story {
    p {
      text-align: center;
    }
  }
  .intro-button {

  }

}