.challengeChoice-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 75% 17%;
  background-color: rgb(241, 224, 224);
  height: 100%;

  .chalenge-preview-list {

    padding: 0;
    margin: 0 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;



    .challenge-preview{
      height: 18%;
      margin: 1% 0;
      display: flex;
      align-items: center;
      .challenge-icon {
        padding: 5px;

      }
      .challenge-text {
        padding: 5px;
        h3 {
          margin: 0;
        }
      }

    }
    
  }
  // .btn-container{
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  //   grid-row-start: 3;
  //   grid-row-end: 4;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   .btn {
  //     width: 140px;
  //     height: 30px;
  //     border-radius: 5px;
  //     background-color: white;
  //     margin: 5px;
  //   }
  // }


  .challenge-preview{
    border-radius: 5px;
    height: 18%;
    margin: 1% 20px;
    display: flex;
    align-items: center;
    .challenge-icon {
      padding: 5px;
      
    }
    .challenge-text {
      padding: 5px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        margin: 0;
      }
      input[type="checkbox"]{
        width: 40px; /*Desired width*/
        height: 25px; /*Desired height*/
        // display: flex;
        // justify-self: flex-end;
      }
    }

  }
  
  .btn-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .btn {
      width: 140px;
      height: 30px;
      border-radius: 5px;
      background-color: white;
      border: 1px red solid;
      color: red;
      margin: 5px;
    }
    .btn2 {
      background-color: red;
      border: 1px red solid;
      color: white;
    }
  }
}
  // .btn-container {
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  //   grid-row-start: 4;
  //   grid-row-end: 5;
  //   align-self: center;
  //   justify-self: center;
  //   text-align: center;
  //   font-size: 1.5em;
  //   text-decoration: none;
  //   background-color: white;
  //   width: 70%;
  //   padding: 5px 0;
  //   border-radius: 5px;
  //   color: black;
  //   &:hover {
  //     cursor: pointer;
  //   }


// }




